// Media Query Mixins
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXL {
    @media screen and (min-width: 1171px) {
        @content;
    }
}

// For Apple Devices
@mixin mediaX {
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
        @content;
    }
}

//iPhone 6,7,8
@mixin media6 {
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
        @content;
    }
}

//iPhone 6,7,8 Plus
@mixin media6Plus {
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
        @content;
    }
}

//iPhone 5 and 5S
@mixin media5 {
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
        @content;
    }
}

//iPad
@mixin iPad {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        @content;
    }
}

//iPad Mini
@mixin iPadMini {
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
        @content;
    }
}

//Functions
@function setTextColor ($color) {
    @if (lightness($color) > 40) {
        @return black;
    }
    @else {
        @return white;
    }
}